body {
  font-family: 'Montserrat', Helvetica, sans-serif;
  color: white;
  background-color: #4d4d4d;
  text-align: center; }

.pageWrap {
  max-height: 1600px;
  height: 100%;
  max-width: 1600px;
  width: 100%; }

.btn {
  background-color: #51307f; }

header {
  max-width: 1600px;
  width: 100%;
  max-height: 100px;
  background-color: #454545;
  padding-bottom: 45px; }

.grayText {
  color: gray; }

.mainText {
  margin-bottom: 300px; }

.mainSections {
  max-width: 1600px;
  width: 100%; }

.box {
  max-width: 400px;
  width: 100%;
  height: 350px; }

.box h2 {
  font-size: 2em;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.removePadding {
  padding: 0; }

#box1 {
  background-color: #51307f;
  vertical-align: middle; }

#box2 {
  background-color: #008793; }

#box3 {
  background-color: #ed5b42; }

#box4 {
  background-color: #058ab3; }

footer {
  background-color: #333;
  height: 70px;
  padding-top: 5px; }

@media only screen and (max-width: 1000px) {
  .mainSections {
    max-width: 900px;
    width: 100%; }
  .box {
    max-width: 500px;
    width: 100%;
    height: 250px;
    padding-top: 5%; }
  .box h2 {
    font-size: 1.75em; } }
